.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 30px;
}

.flex{
  flex-basis: 30%;
  max-width: 200px;
  min-width: 100px;
}

.available {
  background-color: #4CBB17;
  border-radius: 15px;
  border: 1px solid black;
}

.unavailable {
  background-color: #DC143C;
  border-radius: 15px;
  border: 1px solid black;
}

.svgImage {
  margin-bottom: 20px
}
