.container {
  border: 1px solid #3a3a3a;
  /* max-width: 210px; */
  display: flex;
}

.available {
  background-color: rgb(9, 138, 9);
  flex: 1;
}

.unavailable {
  background-color: rgb(189, 14, 14);
}
