
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

.invalidMessageContainer {
   padding: 20px 0px;
}

.invalidMessageText {
  margin: 0px auto;
  text-align: center;
}