
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

.introText {
  text-align: center;
  margin: 16px 20px;
}

.invalidMessageContainer {
   height: 40px;
}

.invalidMessageText {
  margin: 0px auto;
  text-align: center;
}

@media (min-width: 769px) {
  .introText {
    margin: 16px 40px;
  }
}
